app.py
categories.jsonl
db_create.py
fb_loader.py
gem.py
out_10.jsonl
out_11.jsonl
out_dt.json
.qdrant-initialized
storage/
snapshots/
output_data.json
# Ignore Python cache files
__pycache__/
# Ignore virtual environment directories
venv/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore log files
*.log
# Ignore temporary files
*.tmp

# Ignore environment variable files
.env
.vscode
output.json
qdrant.exe
tender_data.jsonl
test_search.py
update_data.jsonl
update_recreate_db.py
Промпти.txt
app copy.py
README.md
requirements.txt
industries.py
out_11.json
out_12.jsonl
vector_database1.py
vector_database2.py
out_10_nodup.jsonl
out_12_nodup.jsonl
out_10_nodup_nonull.jsonl
out_12_nodup_nonull.jsonl
/data
/other_files
test_profiles.py
qry_search.py
qry.py
all_data_cache.pkl
supplier_profiles_COMPLETE.json
pkl_test_qry.py
prf.py
test_predic.py
tender_system_trained.pkl
supplier_profiles_with_clusters.json
supplier_profiles_COMPLETE1.json
tender_system_trained1.pkl
market_statistics.json
market_statistics1.json
supplier_profiles_with_clusters1.json
all_data_cache2.pkl
marketAnalysis.MD
